@model IEnumerable<OrderManagementSystem.Areas.OMS.Models.Assets>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OMS/Views/Shared/_LayoutOMS.cshtml";
}

<h2>Assets list</h2>

<table class="display table-bordered" id="tbid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ondate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currencies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restnom2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restequ2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restusd2)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ondate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subjects.Internationalname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Acc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currencies.Iso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restnom2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restequ2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restusd2)
                </td>

            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready
        (
            function () {
                $('#tbid').DataTable();
            }
    );
</script>

