@model OrderManagementSystem.Areas.OMS.Models.Subj2ratinglinks

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/OMS/Views/Shared/_LayoutOMS.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Subj2ratinglinks</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Subjects.Shortname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubjectId, new SelectList(ViewBag.subjects, "Id", "Shortname"))
                @Html.ValidationMessageFor(model => model.Subjects)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ratings, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RatingId, new SelectList(ViewBag.ratings,"Id","Snp"));
                @Html.ValidationMessageFor(model => model.Ratings)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
